<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>
          On this website I share some of my projects. <br/>
          I hope you will find something interesting.
          </p>
        </p>
      </div>
    </div>

  </div>

</footer>
